<h1  style="margin-top: 50px;">404 Error Page </h1>
<p class="zoom-area">trang không tồn tại !!! </p>
<section class="error-container" style="margin-top: 100px;">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
</section>
<div class="link-container"  style="margin-bottom: 100px;">
  <a target="_blank" routerLink="/home"  routerLinkActive="active" class="more-link" style="text-decoration: none;">go back home</a>
</div>