<style type="text/css">
	ol.breadcrumb {
		background: no-repeat;
		margin: 0;
		padding: 0;
	}
</style>

<content>
	<div class="container">
		<div style="padding-top: 40px;margin-bottom: 40px;">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">News Blog</li>
				</ol>
			</nav>

		</div>
	</div>

	<div class="container">

		<style type="text/css">
			.a1 {
				text-decoration: none;
				color: #555555;
			}

			.a2 {
				text-decoration: none;
				color: #000;
			}

			.a1:hover {
				text-decoration: none;
				color: #000;
			}

			.a2:hover {
				text-decoration: none;
				color: #444444;
			}
		</style>

		<div class="row row-cols-1 row-cols-md-2">
			<div class="col mb-4">
				<div class="card" style="border:none;margin-bottom: 80px;">
					<img src="anh/oto_1.jpg" class="card-img-top rounded-0" alt="">
					<div class="card-body" style="padding: 0">
						<div class="row" style=" margin: 0;">
							<p class="text-uppercase"
								style="border: 1px solid #dddddd;margin: 30px 0 30px 0;text-align: center;font-size: 11px;padding: 1px 10px 1px 10px;">
								<a class="a1" href="#">NEW CARS</a></p>
							<p style="margin: 30px 0 30px 10px;font-size: 14px">April 3, 2019 by<a
									style="margin-left: 5px;font-size: 14px" href="#">Autlines</a></p>

						</div>
						<h5 class="card-title" style="font-size: 30px;width: 80%;"><a class="a2" href="#">New In All
								Ways; Boasts Of Reliability And Stability</a></h5>
						<p class="card-text">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea
							sed ipsum consequat duis aute irure dolorin rep dolore...</p>
					</div>
				</div>
			</div>


			<div class="col mb-4">
				<div class="card" style="border:none;margin-bottom: 80px;">
					<img src="anh/oto_1.jpg" class="card-img-top rounded-0" alt="">
					<div class="card-body" style="padding: 0">
						<div class="row" style=" margin: 0;">
							<p class="text-uppercase"
								style="border: 1px solid #dddddd;;margin: 30px 0px 30px 0;text-align: center;font-size: 11px;color: ;padding: 1px 10px 1px 10px;">
								<a class="a1" href="#">Latest Models</a></p>
							<p style="margin: 30px 0 30px 10px;font-size: 14px">April 3, 2019 by<a
									style="margin-left: 5px;font-size: 14px" href="#">Autlines</a></p>

						</div>
						<h5 class="card-title" style="font-size: 30px;width: 80%;"><a class="a2" href="#">New In All
								Ways; Boasts Of Reliability And Stability</a></h5>
						<p class="card-text">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea
							sed ipsum consequat duis aute irure dolorin rep dolore...</p>
					</div>
				</div>
			</div>


			<div class="col mb-4">
				<div class="card" style="border:none;margin-bottom: 80px;">
					<img src="anh/oto_1.jpg" class="card-img-top rounded-0" alt="">
					<div class="card-body" style="padding: 0">
						<div class="row" style=" margin: 0;">
							<p class="text-uppercase"
								style="border: 1px solid #dddddd;margin: 30px 0 30px 0;text-align: center;font-size: 11px;color: ;padding: 1px 10px 1px 10px;">
								<a class="a1" href="3">Auto Finance</a></p>
							<p style="margin: 30px 0 30px 10px;font-size: 14px">April 3, 2019 by<a
									style="margin-left: 5px;font-size: 14px" href="#">Autlines</a></p>

						</div>
						<h5 class="card-title" style="font-size: 30px;width: 80%;"><a class="a2" href="#">New In All
								Ways; Boasts Of Reliability And Stability</a></h5>
						<p class="card-text">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea
							sed ipsum consequat duis aute irure dolorin rep dolore...</p>
					</div>
				</div>
			</div>


			<div class="col mb-4">
				<div class="card" style="border:none;margin-bottom: 80px;">
					<img src="anh/oto_1.jpg" class="card-img-top rounded-0" alt="">
					<div class="card-body" style="padding: 0">
						<div class="row" style=" margin: 0;">
							<p class="text-uppercase"
								style="border: 1px solid #dddddd;margin: 30px 0 30px 0;text-align: center;font-size: 11px;color: ;padding: 1px 10px 1px 10px;">
								<a class="a1" href="#">buy sell cars</a></p>
							<p style="margin: 30px 0 30px 10px;font-size: 14px">April 3, 2019 by<a
									style="margin-left: 5px;font-size: 14px" href="#">Autlines</a></p>

						</div>
						<h5 class="card-title" style="font-size: 30px;width: 80%;"><a class="a2" href="#">New In All
								Ways; Boasts Of Reliability And Stability</a></h5>
						<p class="card-text">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea
							sed ipsum consequat duis aute irure dolorin rep dolore...</p>
					</div>
				</div>
			</div>


			<div class="col mb-4">
				<div class="card" style="border:none;margin-bottom: 80px;">
					<img src="anh/oto_1.jpg" class="card-img-top rounded-0" alt="">
					<div class="card-body" style="padding: 0">
						<div class="row" style=" margin: 0;">
							<p class="text-uppercase"
								style="border: 1px solid #dddddd;margin: 30px 0 30px 0;text-align: center;font-size: 11px;color: ;padding: 1px 10px 1px 10px;">
								<a class="a1" href="#">latest models</a></p>
							<p style="margin: 30px 0 30px 10px;font-size: 14px">April 3, 2019 by<a
									style="margin-left: 5px;font-size: 14px" href="#">Autlines</a></p>

						</div>
						<h5 class="card-title" style="font-size: 30px;width: 80%;"><a class="a2" href="#">New In All
								Ways; Boasts Of Reliability And Stability</a></h5>
						<p class="card-text">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea
							sed ipsum consequat duis aute irure dolorin rep dolore...</p>
					</div>
				</div>
			</div>


			<div class="col mb-4">
				<div class="card" style="border:none;margin-bottom: 80px;">
					<img src="anh/oto_1.jpg" class="card-img-top rounded-0" alt="">
					<div class="card-body" style="padding: 0">
						<div class="row" style=" margin: 0;">
							<p class="text-uppercase"
								style="border: 1px solid #dddddd;margin: 30px 0 30px 0;text-align: center;font-size: 11px;color: ;padding: 1px 10px 1px 10px;">
								<a class="a1" href="#">New cars</a></p>
							<p style="margin: 30px 0 30px 10px;font-size: 14px">April 3, 2019 by<a
									style="margin-left: 5px;font-size: 14px" href="#">Autlines</a></p>

						</div>
						<h5 class="card-title" style="font-size: 30px;width: 80%;"><a class="a2" href="#">New In All
								Ways; Boasts Of Reliability And Stability</a></h5>
						<p class="card-text">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea
							sed ipsum consequat duis aute irure dolorin rep dolore...</p>
					</div>
				</div>
			</div>

			<div class="col mb-4">
				<div class="card" style="border:none;margin-bottom: 80px;">
					<img src="anh/oto_1.jpg" class="card-img-top rounded-0" alt="">
					<div class="card-body" style="padding: 0">
						<div class="row" style=" margin: 0;">
							<p class="text-uppercase"
								style="border: 1px solid #dddddd;margin: 30px 0 30px 0;text-align: center;font-size: 11px;color: ;padding: 1px 10px 1px 10px;">
								<a class="a1" href="#">New cars</a></p>
							<p style="margin: 30px 0 30px 10px;font-size: 14px">April 3, 2019 by<a
									style="margin-left: 5px;font-size: 14px" href="#">Autlines</a></p>

						</div>
						<h5 class="card-title" style="font-size: 30px;width: 80%;"><a class="a2" href="#">New In All
								Ways; Boasts Of Reliability And Stability</a></h5>
						<p class="card-text">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea
							sed ipsum consequat duis aute irure dolorin rep dolore...</p>
					</div>
				</div>
			</div>


			<div class="col mb-4">
				<div class="card" style="border:none;margin-bottom: 80px;">
					<img src="anh/oto_1.jpg" class="card-img-top rounded-0" alt="">
					<div class="card-body" style="padding: 0">
						<div class="row" style=" margin: 0;">
							<p class="text-uppercase"
								style="border: 1px solid #dddddd;margin: 30px 0 30px 0;text-align: center;font-size: 11px;color: ;padding: 1px 10px 1px 10px;">
								<a class="a1" href="#">New cars</a></p>
							<p style="margin: 30px 0 30px 10px;font-size: 14px">April 3, 2019 by<a
									style="margin-left: 5px;font-size: 14px" href="#">Autlines</a></p>

						</div>
						<h5 class="card-title" style="font-size: 30px;width: 80%;"><a class="a2" href="#">New In All
								Ways; Boasts Of Reliability And Stability</a></h5>
						<p class="card-text">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea
							sed ipsum consequat duis aute irure dolorin rep dolore...</p>
					</div>
				</div>
			</div>


			<style type="text/css">
				.load p:hover {
					color: #fff;
				}
			</style>
			<div class="container">
				<div><a class="load" href="#" style="text-decoration: none;">
						<p class="text-uppercase"
							style="text-align: center;color:#000;padding: 0;margin: 0;font-size: 12px;">load more</p>
					</a>
					<img class="rounded mx-auto d-block" style="height: 15px;width: 60px;margin-bottom: 70px;" src="anh/icon_mui_ten_xuông_2.png"></div>
				</div>

			</div>

		</div>