  <app-header></app-header>
  <div class="container"><div style="padding-top: 40px;">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/home" style="  text-decoration: none;color: black;font-weight:bold;">HOME</a></li>
				<li class="breadcrumb-item active" aria-current="page">PRODUCT</li>
			</ol>
		</nav>
	</div></div>

	<div class="row" style="margin-top: 50px;padding-right: 20px;padding-left: 20px;" >   
		<div ngClass="col-lg-4 col-md-6 mb-4" *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" style="" >
			<div class="card h-100" >
				<a><img class="card-img-top" routerLink="/product/{{product.id}}" [src]="product.image" alt=""></a>
					<div class="card-body">
						<h4 class="card-title">
							<a href="#">{{product.name}}</a>
						</h4>
						<h5>${{product.price}}</h5>
						<p class="card-text">{{product.desc}}</p>
						<p class="card-text">{{product.fueltype ? 'xăng': 'petrol'}}</p>


						<ngb-rating [(rate)]="currentRate">
							<ng-template let-fill="fill" let-index="index">
								<span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
							</ng-template>
						</ngb-rating>
						<hr>
						<pre>Rate: <b>{{currentRate}}</b></pre>
					</div>

			</div>
		</div>
	</div>
  <div class="container" style="margin-left: 680px;margin-top: 25px;">
<ngb-pagination   [(page)]="page" [pageSize]="pageSize" [collectionSize]="products.length" ></ngb-pagination>

</div>
  <app-fotter></app-fotter>