<div class="container">
	<div style="padding-top: 40px;margin-bottom: 40px;">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/home" style="  text-decoration: none;color: black;font-weight:bold;">HOME</a></li>
				<li class="breadcrumb-item active" aria-current="page">NEWS BLOG</li>
			</ol>
		</nav>

	</div>
</div>

<div class="container">

	<style type="text/css">
		.a1 {
			text-decoration: none;
			color: #555555;
		}

		.a2 {
			text-decoration: none;
			color: #000;
		}

		.a1:hover {
			text-decoration: none;
			color: #000;
		}

		.a2:hover {
			text-decoration: none;
			color: #444444;
		}
	</style>
	<div class="row row-cols-1 row-cols-md-2">
		<div class="col mb-4">
			<div class="card" style="border:none;margin-bottom: 80px;">
				<img src="https://znews-photo.zadn.vn/w860/Uploaded/dqvpxpck/2020_03_27/Hilux_Vs_Triton_FuelTest_Melaka_4.jpg" class="card-img-top rounded-0" alt="">
				<div class="card-body" style="padding: 0">
					<div class="row" style=" margin: 0;">
						<p class="text-uppercase"
							style="border: 1px solid #dddddd;margin: 30px 0 30px 0;text-align: center;font-size: 11px;padding: 1px 10px 1px 10px;">
							<a class="a1" href="#">NEW CARS</a></p>
						<p style="margin: 30px 0 30px 10px;font-size: 14px">April 3, 2019 by<a
								style="margin-left: 5px;font-size: 14px" href="#">Autlines</a></p>

					</div>
					<h5 class="card-title" style="font-size: 30px;width: 80%;"><a class="a2" href="#">Ra mắt Toyota
							Hilux thế hệ mới - thay đổi diện mạo, tinh chỉnh động cơ...
						</a></h5>
					<p class="card-text">
						Toyota Australia vừa ra mắt Hilux thế hệ mới, phiên bản facelift này được thay đổi một vài chi
						tiết thiết kế cùng với việc tinh chỉnh lại khối động cơ 2.8L.
					</p>
				</div>
			</div>
		</div>
	</div>

